/* COMMON */
body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  min-width: 300px;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header>.inner {
  height: 240px;
}

header .logo {
  width: 90px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

header .logo img {
  width: 100%;
  position: absolute;
}


header .main-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 180px;
  bottom: 0px;
  z-index: 1;
  min-width: 300px;
}

header .main-menu .item .item__name {
  padding: 15px 30px;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #DF6C7E;
  margin: 0 10px;
}

header .main-menu .item .item__name__btn {
  padding: 15px 30px;
  margin: 0 10px;
}

header .main-menu .item .item__name__btn a {
  color: #df6c7d;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

header .main-menu .item:hover .item__name__btn {
  background-color: #DF6C7E;
  color: #D9EDDE;
  border-radius: 6px 6px;
}

header .main-menu .item:hover .item__name {
  /* hover를 item__name에만 붙이면 딱 그부분만 바뀌며, 아래쪽 contents 부분이 바뀌지 않기 때문에 .item에 붙임 */
  background-color: #DF6C7E;
  color: #D9EDDE;
  border-radius: 6px 6px 0 0;
}


header .main-menu .item:hover .item__name__btn a,
header .main-menu .item:hover .item__name__btn a:visited {
  background-color: #DF6C7E;
  color: #D9EDDE;
}


header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #DF6C7E;

}

header .main-menu .item .item__contents .contents__menu>ul {
  /* ul 태그가 전체에 2개라 > 로 경로를 바로 잡아주는 것 */
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li a {
  padding: 5px 0;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  /* 마우스 포인터를 손가락 모양으로 바꿔줌 */
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}



/* VISUAL */
.visual {
  margin: 250px 0 100px 0;
}

.visual .inner {
  background-color: rgba(255,255,255,0.3);
  padding: 50px ;
  top: 30px;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 1100px;
  margin: auto;
  padding: 20px 50px;
}

.visual .intro-menu {
  color: #353535;
  opacity: 100%;
}

.intro-menu-contact li {
 display: flex; 
}


.intro-menu-contact img {
  width: 20px;
  height: 20px;
  background-color: none;
}


/* FOOTER */
footer {
  background-color: #DF6C7E;
  opacity: 60%;
  width: 100%;
}

footer .notice {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

footer .notice p {
  margin-bottom: 10px;
}
